* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header {
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#header-area {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-area img {
  margin-top: 7px;
  width: 225px;
  height: 49px;
}

#body {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 24px;
  height: 100vh;
}

#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
